<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>highlighted</key>
		<string>product_type_all_selected</string>
		<key>image</key>
		<string>product_type_all</string>
		<key>title</key>
		<string>全部</string>
	</dict>
	<dict>
		<key>highlighted</key>
		<string>product_type_phone_selected</string>
		<key>image</key>
		<string>product_type_phone</string>
		<key>title</key>
		<string>手机数码</string>
	</dict>
	<dict>
		<key>highlighted</key>
		<string>cproduct_type_computer_selected</string>
		<key>image</key>
		<string>cproduct_type_computer</string>
		<key>title</key>
		<string>电脑办公</string>
	</dict>
	<dict>
		<key>highlighted</key>
		<string>product_type_jewelry_selected</string>
		<key>image</key>
		<string>product_type_jewelry</string>
		<key>title</key>
		<string>钟表首饰</string>
	</dict>
	<dict>
		<key>highlighted</key>
		<string>product_type_appliances_selected</string>
		<key>image</key>
		<string>product_type_appliances</string>
		<key>title</key>
		<string>家用电器</string>
	</dict>
	<dict>
		<key>highlighted</key>
		<string>product_type_makeup_selected</string>
		<key>image</key>
		<string>product_type_makeup</string>
		<key>title</key>
		<string>化妆个护</string>
	</dict>
	<dict>
		<key>highlighted</key>
		<string>product_type_food_selected</string>
		<key>image</key>
		<string>product_type_food</string>
		<key>title</key>
		<string>食品饮料</string>
	</dict>
	<dict>
		<key>highlighted</key>
		<string>product_type_game_selected</string>
		<key>image</key>
		<string>product_type_game</string>
		<key>title</key>
		<string>运动户外</string>
	</dict>
	<dict>
		<key>highlighted</key>
		<string>product_type_healthy_selected</string>
		<key>image</key>
		<string>product_type_healthy</string>
		<key>title</key>
		<string>营养保健</string>
	</dict>
	<dict>
		<key>highlighted</key>
		<string>product_type_other_selected</string>
		<key>image</key>
		<string>product_type_other</string>
		<key>title</key>
		<string>其它商品</string>
	</dict>
</array>
</plist>
